:root {
    --background--main-color: #FFFFFF;
    --color-brand: #2E2F42;
    --color-text: #434455;
    --color-logo: #4d5ae5;
    --color-portfolio: #e7e9fc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--background--main-color);

}

img {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
    /* outline: 2px solid red; */
}

.link {
    text-decoration: none;
    color: var(--color-brand);
}

.list {
    list-style-type: none;
}

.link-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* 21/18 */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo);
    margin-right: 76px;
    padding: 24px 0;
}

.sp-logo-head {
    color: var(--color-brand);
}

.sp-logo-foot {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
}

header {
    border-bottom: 1px solid #e7e9fc
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 76px;
}

.header-list {
    text-decoration: none;
    color: var(--color-brand);
    display: flex;
    gap: 40px;
}

.address-list {
    display: flex;
    gap: 40px;
    
}

.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;

}

.header-list-link {
    color: var(--color-brand);
    padding: 24px 0;

}

.header-list-link:hover,
.address-link:hover,
.header-list-link:focus,
.address-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--color-text);
}

.address-link:active,
.header-list-link:active {
    color: #404BBF;
}

/*-----------------hero----------------*/
.hero {
    background-color: var(--color-brand);
    padding: 188px 0
}

.hero-container {
    width: 100%;


}

.hero-title {
    font-weight: 700;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto 40px;

}

.hero-btn {
    font-family: "Roboto", sans-serif;
    border: none;
    background: var(--color-logo);
    color: #FFFFFF;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}


/*---------------------------- advantages-container------------------ */

.advantages {
    padding: 120px 0 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.title-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--color-brand);
    margin-bottom: 72px;

}

.adv-list {
    display: flex;
    

}

.adv-item {
    width: calc((100% - 72px) / 4);
    gap: 24;

}

.part-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--color-brand);
    margin-bottom: 8px;
    text-align: center;

}

.part-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-text);

}

/* ----------------------specialization---------------- */
.specialization {
    padding-top: 60px;
    padding-bottom: 120px;

}

.adv-list{
    gap: 24px;

}

.list-specialization {
    display: flex;
    gap: 24px;
}

.spec-item {
    width: calc((100% - 48px) / 3);
}

/*  ---------------team-----------------------  */
.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}


.list-team {
    display: flex;
    padding-top: 72px;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    border-radius: 0px 0px 4px 4px;


}

.team-item-cont {
    padding: 32px 16px;
    width: calc((100% - 72px) / 4);
}

.part-title {
    margin-bottom: 8px;
    text-align: center;
}

.part-text {
    text-align: center;
}

/* -----------------------footer------ */

.footer {
    padding: 100px 0;
}

.footer .container .link-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.text-foot {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;

}

.footer {
    background-color: var(--color-brand);
}

/* --------------portfolio---------- */
.filter {
    padding: 96px 0 120px 0;
}

.portfolio-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    
}

.proj-btn{
    padding: 12px 24px;
    border: 1px solid var(--color-portfolio);
    border-radius: 4px
}

.proj-btn:hover, 
.proj-btn:focus{
    border: 1px solid transparent;
}

/* projects  */
.projects {}

.project-item {
    border: 1px solid #E7E9FC;
}

.proj-btn {
    font-family: "Roboto", sans-serif;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-logo);
    cursor: pointer;

}

.proj-btn:hover,
.proj-btn:focus {
    background: #404BBF;
    color: #FFFFFF;
}

.project-card{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-item{
    width: calc((100% - 48px) / 3); 

}

.proj-item-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}